<meta name="viewport" content="width=device-width, initial-scale=1">
{% block stylesheets %}
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="{{ asset('css/trade_achat.css') }}">

{% endblock %}

{% block body %}
<div class="contain">

      <div class="left">
        {% include 'composant/nav.html.twig' %}
    </div>

    <div class="right">
        
        <div class="zone_crypto">
            <div class="zone_crypto_left">
                <div class="zone_top_crypto">
                    <div class="image_bitcoin">
                        <img src="{{ asset('img/bitcoin_real.png') }}">
                    </div>
                    <div class="text_top_crypto">
                        <h1>Bitcoin</h1>
                        <h2>BTC</h2>
                    </div>
                </div>
                <div class="list_crypto">
                    <div class="zone_graphique_text">
                        <h1 class="price_text">Price Bitcoin</h1>
                        <h1 class="bitcoin_data">{{ Bitcoin }}$</h1>
                    </div>
                    <div class="zone_graphique_image">
                        <canvas id="lineChart" width="420" height="180"></canvas>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                var ctx = document.getElementById('lineChart').getContext('2d');
                                const gradient = ctx.createLinearGradient(0, 0, 0, 400);
                                gradient.addColorStop(0, 'rgba(98, 126, 234, 0.2)');
                                gradient.addColorStop(1, 'rgba(98, 126, 234, 0)');
                                var lineChart = new Chart(ctx, {
                                    type: 'line',
                                    data: {
                                        labels: {{ data.labels|json_encode|raw }},
                                        datasets: [{
                                            label: 'Percentage of evolution',
                                            data: {{ data.values|json_encode|raw }},
                                            borderColor: '#627EEA',
                                            backgroundColor: gradient,
                                            fill: true
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            x: {
                                                beginAtZero: true
                                            },
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
                <div class="market_crypto">
                    <h1 class="market">Market</h1>
                    <div class="market_cap">
                        <div class="mini_cap">
                            <h2>MARKET CAP</h2>
                            <h3>{{ market_cap }}</h3>
                        </div>
                        <div class="mini_cap">
                            <h2>VOLUME (24H)</h2>
                            <h3>{{ volume_24 }}</h3>
                        </div>
                        <div class="mini_cap">
                            <h2>CIRCULATING SUPPLY</h2>
                            <h3>{{ circulating_supply }}</h3>
                        </div>
                    </div>
                    <div class="market_cap">
                        <div class="mini_cap">
                            <h2>MAX SUPPLY</h2>
                            <h3>{{ max_supply }}</h3>
                        </div>
                        <div class="mini_cap">
                            <h2>PRICE CHANGE (24H)</h2>
                            <h3>{{ bitcoinchangement24h }}</h3>
                        </div>
                        <div class="mini_cap">
                            <h2>SIGLE</h2>
                            <h3>{{ symbol }}</h3>
                        </div>
                    </div>
                </div>
                  <div class="price_crypto">
                    <h1 class="price_crypto_title">Price Crypto</h1>
       {% for crypto in allcrypto %}
            <div class="crypto_zone">
                <div class="logo_crypto">  {% if crypto.name == "Bitcoin" %}
                <img src="{{ asset('img/logo/bitcoin-btc-logo.png') }}">
            {% elseif crypto.name == "Ethereum" %}
                <img src="{{ asset('img/logo/ethereum-eth-logo.png') }}">
            {% elseif crypto.name == "Ripple" %}
                <img src="{{ asset('img/logo/xrp-xrp-logo.png') }}">
          {% elseif crypto.name|trim == "Bitcoin Cash" %}

                <img src="{{ asset('img/logo/bitcoin_cash.png') }}">
            {% elseif crypto.name == "Cardano" %}
                <img src="{{ asset('img/logo/cardano-ada-logo.png') }}">
            {% elseif crypto.name == "Litecoin" %}
                <img src="{{ asset('img/logo/litecoin-ltc-logo.png') }}">
            {% elseif crypto.name == "NEM" %}
                <img src="{{ asset('img/logo/nem-xem-logo.png') }}">
            {% elseif crypto.name == "Stellar" %}
                <img src="{{ asset('img/logo/stellar-xlm-logo.png') }}">
            {% elseif crypto.name == "IOTA" %}
                <img src="{{ asset('img/logo/iota-iota-logo.png') }}">
            {% elseif crypto.name == "Dash" %}
                <img src="{{ asset('img/logo/dash-dash-logo.png') }}">
            {% endif %}</div>
                <div class="crypto_name">{{ crypto.name }}</div>
                <div class="crypto_price_real">Price: ${{ crypto.price }}</div>
                    <div class="crypto_cour">Trade:  {% if crypto.name == "Bitcoin" %}
        {{ cour_crypto.Bitcoin }}
    {% elseif crypto.name == "Ethereum" %}
        {{ cour_crypto.Ethereum }}
    {% elseif crypto.name == "Ripple" %}
        {{ cour_crypto.Ripple }}
{% elseif crypto.name|trim == "Bitcoin Cash" %}
    {% if cour_crypto['Bitcoin Cash'] is defined %}
        {{ cour_crypto['Bitcoin Cash'] }}

    {% endif %}
    {% elseif crypto.name == "Cardano" %}
        {{ cour_crypto.Cardano }}
    {% elseif crypto.name == "Litecoin" %}
        {{ cour_crypto.Litecoin }}
    {% elseif crypto.name == "NEM" %}
        {{ cour_crypto.NEM }}
    {% elseif crypto.name == "Stellar" %}
        {{ cour_crypto.Stellar }}
    {% elseif crypto.name == "IOTA" %}
        {{ cour_crypto.IOTA }}
    {% elseif crypto.name == "Dash" %}
        {{ cour_crypto.Dash }}
    {% endif %}% </div>
            </div>
        {% endfor %}
    </div>
                <div class="about">
                    <h1>About</h1>
                    <p>Bitcoin is a decentralized cryptocurrency created in 2009 by an anonymous entity known as Satoshi Nakamoto. It operates on blockchain technology, a public ledger that records transactions securely and transparently. With a capped supply of 21 million coins, 
                     </p>
                </div>
            </div>
            <div class="zone_crypto_right">
                <div class="zone_achat">
                    <div class="action">
                        <div class="bouton_action">
                            <h1><a href="{{ path('app_trade') }}">Buy</a></h1>
                        </div>
                        <div class="bouton_action">
                            <h1><a href="{{ path('app_trade_send') }}">Sell</a></h1>
                        </div>
                        <div class="bouton_action">
                            <h1><a href="{{ path('app_exchange') }}">Exchange</a></h1>
                        </div>
                    </div>
                    <div class="zone_pay_with">
                        <p class="pay_with">PAY WITH</p>
                    </div>
                    <div class="all_crypto">
                        <div class="all_crypto1">
                            <div class="usd">
                                <div class="usd_contain">
                                    <img src="{{ asset('img/usd.png') }}" />
                                </div>
                            </div>
                            <p>United States Dollar</p>
                        </div>
                        <div class="all_crypto2">{{ user.solde }} $</div>
                    </div>
                    <div class="trait"></div>
                    <div class="price">
                        {{ form_start(form) }}
                        <div class="form_group">
                            {{ form_widget(form.cryptos, {'attr': {'class': 'custom_input1'}}) }}
                          <p class="prix_update"></p>
                        </div>
                        <div class="form_group">
                            {{ form_widget(form.quantity, {'attr': {'class': 'custom_input2', 'placeholder': '0'}}) }}
                            
                        </div>
                             <button type="submit" class="bouton_buy">Buy</button>
                        {{ form_end(form) }}
                    </div>

               
                </div>
                                    {% for message in app.flashes('error') %}
    <div class="erreur">{{ message }}</div>
{% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
